.knowledges {
    .knowledgesContent {
        // border: 1px solid black;
        // background: $color-1;
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 38%;
        grid-template-rows: 70% 30%;
        grid-template-areas:
            "E E L"
            "H O O";

        .languagesFrameworks, .experience, .otherSkills, .hobbies {
            background: $color-7;
            // border: 1px solid black;
            padding: .8rem;
            margin: 0.2rem;
            border-radius: $borderRadius;
        }

        h3 {
            font-size: 1.5rem;
            color: $color-4;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        .experience {
            grid-area: E;
        }

        .languagesFrameworks {
            grid-area: L;
        }

        .otherSkills {
            grid-area: O;
        }

        .hobbies {
            grid-area: H;
        }
    }
}